<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register_screen.css') }}">
</head>
<body>
    <div class="RECTANGLE"> 
        <img class="logowatermark_image" src="{{ url_for('static', filename='img/loginphoto.png') }} " >
    </div>
    <div class="logo_icon">
        <img class="logo_image" src="{{ url_for('static', filename='img/loginicon.png') }}">
    </div>
    
    <p id="sign_in_header">
        Register Here
    </p>
    
    <div class="form-container">
        <h2>Login</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <input id ="USER"type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input id="PASSWORD" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <button id="SUBMIT" type="submit">Register</button>
            </div>
            
        </form>
        <p id="new_account">Already have an account? <a href="/">Login here</a></p>
        
        
    </div>
</body>
</html>



